/*#page {
    font-family: 'Roboto', sans-serif;
    margin: auto; 
    margin: 35px auto; 
    padding: 30px 4%;
    padding-bottom: 30px 4%;
    max-width: 800px;
    line-height: 2.0;
    font-size: 18px;
    color: #FFF;
    animation: fadein 2.1s;
    box-shadow: 0px 10px  20px #000, 0 6px 6px rgba(0, 0, 0, 0.4);
    border: solid #111111 1px;
    background-color: #111111;
    border-radius: 5px;
}*/



@import url('https://fonts.googleapis.com/css?family=Roboto');
body { 
    background-color: #181b28; 
} 

#page {
    font-family: 'Roboto', sans-serif;
    margin: 35px auto;
    padding: 30px 4%;
    padding-bottom: 0;

    max-width: 800px;
    line-height: 2.0;
    font-size: 18px;
    color: #FFF;

}
#particles-js canvas{
    animation: fadein 4s;
    position: fixed;
    z-index: -1;
}
img {
    margin: 5px auto;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border:5px solid #C2185B;
    
}
a {
    text-decoration: underline;
    color: #111;
}

.strong-like-russian-bear {
    width: 90%;
    margin: auto;
    font-weight: bold;
    font-size: 85%;
}
.side-note {
    width: 90%;
    /*text-align: justify;*/
    margin: auto;
    font-weight: bold;
    font-size: 60%;
}
.desc{
    font-size: 80%;
    text-align: left;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#page, #experience p, #projects p, #resume p, #contact p {
    text-align: center;
}
#IBM p, #CodeU p, #RD p, #RA p {
    text-align: left;
}
.fa-lg  {
    color: white;
}

footer p {
    margin: 3em auto 1em auto;
    width: 90%;
    text-align: center;
    font-style: italic;
    font-size: 85%;
}
.link {
    color: white;
}
