@import url('https://fonts.googleapis.com/css?family=Roboto');
body { 
    background-color: #17181c; 
} 

#page {
    font-family: 'Roboto', sans-serif;
    margin: 35px auto;
    padding: 10px 4%;
    padding-bottom: 0;
    max-width: 800px;
    line-height: 2.0;
    font-size: 18px;
    color: #FFF;




}
#particles-js canvas{
    animation: fadein 4s;
    position: fixed;
    z-index: -1;
    filter: blur(1.5px);
}


#profile {
    margin: 5px auto;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border:5px solid #C2185B;

    
}
a {
    text-decoration: underline;
    color: #111;
}


.desc{
    font-size: 80%;
    text-align: left;
}

#page, #experience p, #resume p, #contact p {
    text-align: center;
}
#IBM p, #CodeU p, #RD p, #RA p {
    text-align: left;
}
.fa-lg  {
    color: white;
}

.link {
    color: white;
}
